body{
	background-image: url('tola3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#results { 
background: #dddada; 
color: 000000; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray; 
}

#results:hover { 
background: #3d91b8; 
color: #ffffff; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray; 
} 

#categorylist { 
margin-top: 6px; 
display: none; 
} 

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
display: none; 
}

#closing {
display: none;
font-style: italic;
}
#header {
    background-color:brown;
    color:white;
    text-align:center;
    padding:3px;
    font-size: 20px;
}

#section {
	height:30px;
    width:150px;
    float:right;
    padding:10px;
    border-color: #6495ED;
    font-size: 20px 
}
p{
    color: black;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding-top: 40px;
    padding-bottom: -40px;
    bottom:1000px;
    height: 50px;
    width: 1400px;
    margin: auto;
    position: relative;
}